<div ng-app="RefreshDashboard">
	<div ng-controller="DashboardController">
		<form ng-submit="addClairvoyant()">
      <label>Clairvoyant Name:</label>
      <input type="text" ng-model="ClairvoyantName" placeholder="Enter a name here">
      <label>Clairvoyant Serial:</label>
      <input type="text" ng-model="ClairvoyantSerial" placeholder="Enter a serial here">
			<input class="btn-primary" type="submit" value="add">
			
			<ul>
				<li type="none" style='display:inline-block;valign:top;margin:10px;border:1px solid' ng-repeat="clairvoyant in clairvoyants">
					<table width=200 height=150>
						<tr>
							<th>
								Nome: {{clairvoyant.equipment}}
							</th>
						</tr>
						<tr>
							<td>
								 Serial {{clairvoyant.serial_hexa}}
							</td>
						</tr>
						<tr ng-repeat="dev in clairvoyant.device">
							<td>
								Nome do device: {{dev.device_name}} - {{dev.obs}}
							</td>
						</tr>
					</table>
				</li>
			</ul>

		</form>
	</div>
</div>